@using CozaStore.Models;
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.search != null)
{
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">

            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <h3>Kết quả tìm kiếm cho: @ViewBag.search</h3>
                </div>

                <div class="flex-w flex-c-m m-tb-10">

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-sesearch-productarch cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Tìm kiếm
                    </div>
                </div>
                <form action="/Search/Find/Index" class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" placeholder="Tìm kiếm sản phẩm">
                    </div>
                </form>


            </div>

            <div class="row isotope-grid">
                @{
                    int count = 0;
                    foreach (SanPham k in Common.SearchProduct(ViewBag.search))
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item loai@(k.maLoai)">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="@k.hinhDD" alt="IMG-PRODUCT">

                                    <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Xem chi tiết
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            @k.tenSP
                                        </a>

                                        <span class="stext-105 cl3">
                                            @String.Format("{0:#,##0 đ}", k.giaBan)
                                        </span>
                                    </div>

                                    <div class="block2-txt-child2 flex-r p-t-3"  onclick="themGioHang('@k.maSP', '@k.tenSP')">
                                        <a class="btn-addwish-b2 dis-block pos-relative">
                                            <img class="icon-heart1 dis-block trans-04" src="~/Image/icons/icon-heart-01.png" alt="ICON">
                                            <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Image/icons/icon-heart-02.png" alt="ICON">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                    if (count == 0)
                    {
                        <h2>Không tìm thấy sản phẩm cho từ khoá: @ViewBag.search</h2>
                    }
                }


            </div>

            <!-- Load more -->
            <!--<div class="flex-c-m flex-w w-full p-t-45">
                <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Load More
                </a>
            </div>-->
        </div>
    </div>
}
else
{
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">

            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <h3>Kết quả tìm kiếm cho: @ViewBag.TypeName</h3>
                </div>

                <div class="flex-w flex-c-m m-tb-10">

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-sesearch-productarch cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Tìm kiếm
                    </div>
                </div>
                <form action="/Search/Find/Index" class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" placeholder="Tìm kiếm sản phẩm">
                    </div>
                </form>


            </div>

            <div class="row isotope-grid">
                @{
                    int count = 0;
                    foreach (SanPham k in Common.getProducts((int)ViewBag.Type))
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item loai@(k.maLoai)">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="@k.hinhDD" alt="IMG-PRODUCT">

                                    <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Xem chi tiết
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            @k.tenSP
                                        </a>

                                        <span class="stext-105 cl3">
                                            @String.Format("{0:#,##0 đ}", k.giaBan)
                                        </span>
                                    </div>

                                    <div class="block2-txt-child2 flex-r p-t-3"  onclick="themGioHang('@k.maSP', '@k.tenSP')">
                                        <a class="btn-addwish-b2 dis-block pos-relative">
                                            <img class="icon-heart1 dis-block trans-04" src="~/Image/icons/icon-heart-01.png" alt="ICON">
                                            <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Image/icons/icon-heart-02.png" alt="ICON">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                    if (count == 0)
                    {
                        <h2>Không tìm thấy sản phẩm !</h2>
                    }
                }


            </div>

            <!-- Load more -->
            <!--<div class="flex-c-m flex-w w-full p-t-45">
                <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Load More
                </a>
            </div>-->
        </div>
    </div>

}
<!-- Product -->

