@using CozaStore.Models;
@{
    ViewBag.Title = "Index";
}

   

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Image/bg-02.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Bài viết
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    @{
                        foreach (BaiViet k in Common.getBlog())
                        {
                            <!-- item blog -->
                            <div class="p-b-63">
                                <a href="@Url.Action("Index","BlogDetail",new {maBaiViet = k.maBV})" class="hov-img0 how-pos5-parent">
                                    <img src="@k.hinhDD" alt="IMG-BLOG">

                                    <div class="flex-col-c-m size-123 bg9 how-pos5">
                                        <span class="ltext-107 cl2 txt-center">
                                            @(k.ngayDang?.ToString("dd"))
                                        </span>

                                        <span class="stext-109 cl3 txt-center">
                                            @(k.ngayDang?.ToString("MM/yyyy"))
                                        </span>
                                    </div>
                                </a>

                                <div class="p-t-32">
                                    <h4 class="p-b-15">
                                        <a href="@Url.Action("Index","BlogDetail",new {maBaiViet = k.maBV})" class="ltext-108 cl2 hov-cl1 trans-04">
                                            @k.tenBV
                                        </a>
                                    </h4>

                                    <p class="stext-117 cl6">
                                        @k.ndTomTat

                                    </p>

                                    <div class="flex-w flex-sb-m p-t-18">
                                        <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                            <span>
                                                <span class="cl4">By</span> @k.taiKhoan
                                                <span class="cl12 m-l-4 m-r-6">|</span>
                                            </span>

                                            <span>
                                                @k.loaiTin
                                                <span class="cl12 m-l-4 m-r-6">|</span>
                                            </span>

                                            <span>
                                            </span>
                                        </span>

                                        <a href="@Url.Action("Index","BlogDetail",new {maBaiViet = k.maBV})" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                            Đọc tiếp

                                            <i class="fa fa-long-arrow-right m-l-9"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    <!-- item blog -->

                    <!-- Pagination -->
                    <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                        <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
                            1
                        </a>

                        <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
                            2
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    
                    <form action="/Search/Find/Index" class="bor17 of-hidden pos-relative">
                        <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="q" placeholder="Tìm kiếm sản phẩm">

                        <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>


                    <div class="p-t-65">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Có thể bạn sẽ thích
                        </h4>

                        <ul>
                            @foreach (SanPham k in Common.getProductsRandom(3))
                            {
                                <li class="flex-w flex-t p-b-30">
                                    <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                        <img width="90px" src="@k.hinhDD" alt="PRODUCT">
                                    </a>

                                    <div class="size-215 flex-col-t p-t-8">
                                        <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="stext-116 cl8 hov-cl1 trans-04">
                                            @k.tenSP
                                        </a>

                                        <span class="stext-116 cl6 p-t-20">
                                            @String.Format("{0:#,##0 đ}", k.giaBan)
                                        </span>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


