@using CozaStore.Models;
@{

    ViewBag.Title = "Index";


}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Tất cả sản phẩm
                </button>
                @{
                    foreach (LoaiSP k in Common.getCategories())
                    {
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".loai@(k.maLoai)">
                            @k.tenLoai
                        </button>

                    }
                }
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Lọc
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-sesearch-productarch cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Tìm kiếm
                </div>
            </div>

            <!-- Search product -->
            <form action="/Search/Find/Index" class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" placeholder="Tìm kiếm sản phẩm">
                </div>
            </form>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sắp xếp
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/Product/Index" class="filter-link stext-106 trans-04 @((Session["Sort"])==null ? "filter-link-active" : "")">
                                    Phổ biến
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/Product/Sort?by=New" class="filter-link stext-106 trans-04 @(((string)Session["Sort"])=="New" ? "filter-link-active" : "")">
                                    Mới nhất
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/Product/Sort?by=LowToHigh" class="filter-link stext-106 trans-04 @(((string)Session["Sort"])=="LowToHigh" ? "filter-link-active" : "")">
                                    Giá: Thấp đến cao
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/Product/Sort?by=HighToLow" class="filter-link stext-106 trans-04 @(((string)Session["Sort"]) == "HighToLow" ? "filter-link-active" : "")">
                                    Giá: Cao đến thấp
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Khoảng giá
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="/Product/Index" class="filter-link stext-106 trans-04 @(Session["GiaTu"]==null ? "filter-link-active":"")">
                                    Tất cả
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/Product/Sort?fromPrice=100000&toPrice=200000" class="filter-link stext-106 trans-04 @(Convert.ToInt32((Session["GiaTu"]))==100000 ? "filter-link-active" : "")">
                                    100k - 200k
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="/Product/Sort?fromPrice=200000&toPrice=500000" class="filter-link stext-106 trans-04 @(Convert.ToInt32(Session["GiaTu"]) ==200000 ? "filter-link-active" : "")">
                                        200k - 500k
                                    </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="/Product/Sort?fromPrice=500000&toPrice=1000000" class="filter-link stext-106 trans-04 @((Convert.ToInt32(Session["GiaTu"]))==500000?"filter-link-active":"")">
                                        500k - 1 triệu
                                    </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="/Product/Sort?fromPrice=1000000&toPrice=3000000" class="filter-link stext-106 trans-04 @((Convert.ToInt32(Session["GiaTu"]))==1000000?"filter-link-active":"")">
                                        1 triệu - 3 triệu
                                    </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="/Product/Sort?fromPrice=3000000&toPrice=1147483647" class="filter-link stext-106 trans-04 @((Convert.ToInt32(Session["GiaTu"]))==3000000?"filter-link-active":"")">
                                        3 triệu+
                                    </a>
                                </li>
                   
                        </ul>
                    </div>

                </div>
            </div>



        </div>

        <div class="row isotope-grid">
            @{
                                List<SanPham> listspload;
                                if (Session["Loc"] == null)
                                {
                                    listspload = Common.getProducts();
                                }
                                else
                                {
                                    listspload = (List<SanPham>) Session["Loc"];
}
foreach (SanPham k in listspload)
{
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item loai@(k.maLoai)">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="@k.hinhDD" alt="IMG-PRODUCT">

                                <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Xem chi tiết
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="@Url.Action("Index","ProductDetail",new {maSP = k.maSP})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @k.tenSP
                                    </a>

                                    <span class="stext-105 cl3">
                                        @String.Format("{0:#,##0 đ}", k.giaBan)
                                    </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3"  onclick="themGioHang('@k.maSP', '@k.tenSP')">
                                    <a class="btn-addwish-b2 dis-block pos-relative">
                                        <img class="icon-heart1 dis-block trans-04" src="~/Image/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Image/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

}
            }


        </div>

        <!-- Load more -->
        <!--<div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>-->
    </div>
</div>

